
.title{
    text-align: center;
}
.search{
    text-align: center;
}
.container {
    margin: 2rem auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
}
.container label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
